<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <title>Hoàng Khôi PCB, Xuất data excel to website</title>
  <style>
    body {
      width: 100vw;
      padding: 0px;
      margin: 0 auto;
      box-sizing: border-box;
      font-family: Arial,Courier new,Tahoma, Helvetica, sans-serif,Times New Roman;
      font-size: 16px;
      line-height: 1.2;
      display: block;
      background-color: white;
      color: #2ecc71;
    }

  

    ul {
      list-style: none;
      display: block;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 0px;
      
    }
    li {
      
      text-align: center;
      width: 50%;
      margin: 2px;
      padding: 0px;
    }
    .sub-ul{
      width: 100%;
      display: flex;
      text-align: center;
      border: none;
      align-items: center;
      padding: 0px;
      margin: 0 auto;
    }
    .sub-ul li {
      width: 50%;
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
    }
    .sub-ul li ul {
      margin: 1px;
      padding: 0px;
      border: 1px solid #000;
      display: block;
      align-items: center;
      text-align: left;
      width: 100%;
    }
    .sub-ul li ul li
    {
      text-align: left;
      display: block;
      width: 95%;
      margin: 2px;
      padding-left: 20px;
    }
  </style>
</head>

<body>
  <h1 style="text-align: center;">
    Daily Job Time MVC
  </h1>
  <ul style="transform: translateX(25%);">
    <div id="excel_data"></div>
  </ul>
  <script>
      $(document).ready(function () {
        var xhttp = new XMLHttpRequest();
					xhttp.onreadystatechange = function () {
						if (this.readyState == 4 && this.status == 200) {
							$("#excel_data").html(this.response);
						}
					};
					xhttp.open("POST", "/", true);
					xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					xhttp.send("");
      });
      
  </script>
</body>

</html>